langchain==0.3.7
langchain-community==0.3.7
langchain-openai==0.2.8
langchain-huggingface==0.1.2
sentence-transformers==3.3.1
faiss-cpu==1.9.0
openai==1.54.4
python-dotenv==1.0.1
httpx<0.28
fastapi==0.115.5
uvicorn[standard]==0.32.1
slowapi==0.1.9
chainlit==2.5.5
rank_bm25==0.2.2
jupyter==1.1.1
nbformat==5.10.4
